
/* Typography */
h1, h2, h3, h4{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}


/* Navigation */

/* There is a big problem with navbar-bran. It is defined in Topmenu.css, which is imported at least in the document.
Using the normal root/css/host.css, is impossible to override the logo without "!important"*/
.navbar-brand {
    background-image: url("img/uneca-ico.svg") !important;
    width: 310px !important;
    height: 50px  !important;
    background-size: 100% 100%  !important;
    background-position: 0 0  !important;
    background-color:#005295 !important;
}

/* //////////////////// THEMING ///////////////////// */


/*///////////////* ANALYSIS */

/*  CATALOG THEMING */

#fx-catalog-submit-btn{
    background-color: #005295
}

.fx-catalog-resume-title{
    color: #005295
}

.fx-resume-item-selected .fx-resume-module-title em{ color: #005295 }


/*///////////////* DATA EDIT */

#metadataEditorContainer #fx-editor-form .panel-heading{
    color: #005295
}

#metadataEditorContainer #fx-editor-form .btn-success{
    background-color: #005295
}

#metadataEditorContainer .panel-title{ color: #005295 }
