<div class="row">

    <div id="container">

        <div id="world-preload" class="visible">

            <div id="preload-text"></div>

        </div>

        <div class="world-fallback"></div>

    </div>

</div>

<div class="row home-header">

    <div class="home-overlay"></div>

    <div class="col-sm-5 col-lg-6">

        <p class="welcome">WELCOME TO</p>

        <div class="home-logo"></div>

        <div class="topic-container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <p class="home-topic">How many out of every 1,000 live-born children in Africa die before
                            celebrating their fifth birtday?</p>

                    </div>

                    <div class="item">
                        <p class="home-topic">What are the two regions with the highest inflation rate?</p>
                    </div>

                    <div class="item">
                        <p class="home-topic">What proportion of the total population in Africa use improved drinking
                            water sources?</p>
                    </div>

                    <div class="item">
                        <p class="home-topic">What proportion of Africa's population live in urban areas?</p>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <div class="arrow-left"></div>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <div class="arrow-right"></div>
                </a>
            </div>
            <p class="evidence">IN EVIDENCE</p>
        </div>

    </div>

    <div class="col-sm-7 col-lg-6">

        <div class="home-btn-holder">
            <div class="row home-btn-container">
                <div class="col-sm-6 one">
                    <a href="#/profile" class="home-btn"> <span class="icojam_geography_globe"></span> COUNTRY
                        PROFILE</a>
                </div>
                <div class="col-sm-6 two">

                    <a href="#/analysis" class="home-btn"> <span class="icojam_cardiogram_1"></span> ANALYSIS</a>
                </div>
            </div>
            <div class="row home-btn-container">

                <div class="col-sm-6 three">
                    <a href="#/domains" class="home-btn"><span class="icojam_speed_2"></span> BROWSE BY DOMAIN</a>
                </div>
                <div class="col-sm-6 four">
                    <a href="#/modules" class="home-btn"><span class="icojam_refresh_1"></span> THEMATIC MODULES</a>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row uneca-home-container">

    <div class="col-sm-3">

        <div class="obj-box">

            <div class="uneca-home-title">MAIN TOPICS</div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading2">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                               aria-controls="collapse2">
                                <span class="fx-panel-plus"></span> Demographic and social statistics
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body">
                            <div class="uneca-home-panel-sub"><a href="#/domains/population">Population <span
                                    class="fx-panel-info"></span></a></div>
                            <div class="uneca-home-panel-sub"><a href="#/domains/education">Education <span
                                    class="fx-panel-info"></span></a></div>
                            <div class="uneca-home-panel-sub"><a href="#/domains/health">Health <span
                                    class="fx-panel-info"></span></a></div>
                            <div class="uneca-home-panel-sub"><a href="#/domains/labour">Labour<span
                                    class="fx-panel-info"></span></a></div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading2">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                               aria-controls="collapse2">
                                <span class="fx-panel-plus"></span> Economic statistics
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body">
                            <div class="uneca-home-panel-sub"><a href="#/domains/balance_of_payments">Balance of
                                Payments <span class="fx-panel-info"></span></a>
                            </div>
                            <div class="uneca-home-panel-sub"><a href="#/domains/gdp">GDP <span
                                    class="fx-panel-info"></span></a></div>
                            <div class="uneca-home-panel-sub"><a href="#/domains/monetary_statistics">Monetary
                                Statistics <span class="fx-panel-info"></span> </a>
                            </div>
                            <div class="uneca-home-panel-sub"><a href="#/domains/financial_flows">Financial Flows <span
                                    class="fx-panel-info"></span></a></div>
                            <div class="uneca-home-panel-sub"><a href="#/domains/public_finance">Public Finance <span
                                    class="fx-panel-info"></span></a></div>
                            <div class="uneca-home-panel-sub"><a href="#/domains/debt">Debt <span
                                    class="fx-panel-info"></span></a></div>
                            <div class="uneca-home-panel-sub"><a href="#/domains/inflation">Inflation <span
                                    class="fx-panel-info"></span></a></div>
                            <div class="uneca-home-panel-sub"><a href="#/domains/energy">Energy <span
                                    class="fx-panel-info"></span></a></div>
                            <div class="uneca-home-panel-sub"><a href="#/domains/tourism">Tourism <span
                                    class="fx-panel-info"></span></a></div>
                            <div class="uneca-home-panel-sub"><a href="#/domains/infrastructure">Infrastructure <span
                                    class="fx-panel-info"></span></a></div>


                        </div>
                    </div>
                </div>

            </div>
            <br>
        </div>

    </div>

    <div class="col-sm-6">
        <div class="obj-box">
            <div class="uneca-home-title">ABOUT ECA DATA PORTAL</div>
            <p> The ECA Data portal is an internet based platform for compilation and dissemination of
                data on various socio-economic indicators on African countries. It holds data on a wide range of
                indicators
                covering various areas such as Population, Education, Health, National Accounts, Agriculture, Mining,
                Energy, Environment, Tourism, Trade as well as Millennium Development Goals indicators.</p>

            <p>The platform provides data access features like search, browse by countries or thematic areas and
                provides
                predefined data sets on selected topics. Available data may be downloaded to excel, comma separated
                value
                (CSV), Microsoft Word or Adobe PDF formats. </p>

            <hr>

            <div id="home-charts-tab">
                <!-- Nav tabs-->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a data-id="first" href="#tab-chart-1" role="tab"
                                                              data-toggle="tab">GDP</a></li>
                    <li role="presentation"><a data-id="second" href="#tab-chart-2" role="tab"
                                               data-toggle="tab">Trade</a></li>
                    <li role="presentation"><a data-id="third" href="#tab-chart-3" role="tab" data-toggle="tab">Education</a>
                    </li>
                </ul>

                <!-- Tab panes-->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tab-chart-1">
                        <div id="chart1"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-chart-2">
                        <div id="chart2"></div>
                        <div id="chart4"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-chart-3">
                        <div id="chart3"></div>
                    </div>
                </div>
            </div>


            <hr>

            <div class="uneca-home-title">PARTNERS</div>
            <div data-role="partners">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active" data-partner='afdb'><a href="#partner-afdb"
                                                                                  aria-controls="home" role="tab"
                                                                                  data-toggle="tab"></a></li>
                    <li role="presentation" data-partner='fe'><a href="#partner-fe" aria-controls="profile" role="tab"
                                                                 data-toggle="tab"></a></li>
                    <li role="presentation" data-partner='fra'><a href="#partner-fra"
                                                                  aria-controls="home" role="tab"
                                                                  data-toggle="tab"></a></li>
                    <li role="presentation" data-partner='mp'><a href="#partner-mp" aria-controls="settings" role="tab"
                                                                 data-toggle="tab"></a></li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="partner-fra">
                        <!--The Food and Agriculture-->
                        <!--Organization of the United Nations (FAO; French: Organisation des Nations unies pour-->
                        <!--l'alimentation et l'agriculture, Italian: Organizzazione delle Nazioni Unite per l'Alimentazione-->
                        <!--e l'Agricoltura) is an agency of the United Nations that leads international efforts to defeat-->
                        <!--hunger.-->
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="partner-fe">
                        <!--The African Union (AU) is a continental-->
                        <!--union consisting of 54 countries in Africa. The only African state that is not a member is-->
                        <!--Morocco, although Burkina Faso and the Central African Republic have had their memberships-->
                        <!--suspended due to the recent coup d'état and ongoing civil war respectively.-->
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="partner-unece">
                        <!--The World Bank is an international-->
                        <!--financial institution that provides loans[2] to developing countries for capital programs. It-->
                        <!--comprises two institutions: the International Bank for Reconstruction and Development (IBRD) and-->
                        <!--the International Development Association (IDA).-->
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="partner-mp">
                        <!--The Department for International-->
                        <!--Development (DFID) is a United Kingdom government department responsible for administering-->
                        <!--overseas aid. The goal of the department is "to promote sustainable development and eliminate-->
                        <!--world poverty". The Secretary of State for International Development is Justine Greening.-->
                    </div>
                </div>

            </div>

            <br>
        </div>
    </div>

    <div class="col-sm-3">

        <div class="obj-box">

            <!--<a href="http://fenixapps2.fao.org/crowddata/" target="_blank" class="mobile-btn">
                &lt;!&ndash;<span class="icojam_mobile_phone"></span> &ndash;&gt;Mobile App
            </a>-->

            <div class="uneca-home-title">ABOUT ECA</div>
            <p>Established by the Economic and Social Council (ECOSOC) of the United Nations (UN) in 1958 as one of
                the UN's five regional commissions, ECA's mandate is to promote the economic and social development
                of its member States, foster intra-regional integration, and promote international cooperation for
                Africa's development.</p>

            <br>
            <a class="uneca-home-title" href="http://www.uneca.org/pages/overview" target="_blank">Read more</a>
            <hr>
            <div class="uneca-home-title">ON THE WEB</div>
            <div class="uneca-home-social">
                <span class="fa fa-facebook-square fa-lg fa-fw"></span><span
                    class="fa fa-twitter-square fa-lg fa-fw"></span><span
                    class="fa fa-google-plus-square fa-lg fa-fw"></span>
            </div>
            <hr>
            <div class="uneca-home-title">UPCOMING EVENTS</div>
            <div class="uneca-home-events-container">
                <p>MARCH 2016</p>

                <p>Launch of African statistical yearbook, 2016.</p>

                <p>ECA's country profile</p>

            </div>
            <br>
        </div>
    </div>

</div>