<div>

    <div class="row">
        <div class="col-xs-12">
        <h2>Economically active population</h2>
            <div data-item="chart_1"></div>

        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h2>Economically active population by sector</h2>
            <div data-item="chart_2"></div>

        </div>
    </div>



        <div class="row">
            <div class="col-xs-12">
                <h2>Economically active population by gender</h2>
                <div data-item="chart_3"></div>

            </div>
        </div>

</div>