<div>

    <div class="row">
        <div class="col-xs-12">
        <h2>Percentage of children provided the vaccines</h2>
            <div data-item="chart_1"></div>

        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h2>Percentage of underweight children (under-five)</h2>
            <div data-item="chart_2"></div>

        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h2>Prevalence of undernourishment</h2>
            <div data-item="chart_3"></div>

        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h2>Infant mortality rate</h2>
            <div data-item="chart_4"></div>

        </div>
    </div>



    <div class="row">
        <div class="col-xs-12">
            <h2>Medical staff and infrastructure</h2>
            <div data-item="chart_5"></div>

        </div>
    </div>

</div>