<div>

    <div class="row">
        <div class="col-xs-12">
        <h2>Enrolment primary school</h2>
            <div data-item="chart_1"></div>

        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h2>Enrolment primary, secondary, tertiary school</h2>
            <div data-item="chart_2"></div>

        </div>
    </div>



    <div class="row">
        <div class="col-xs-12">
            <h2>Literacy rate by gender</h2>
            <div data-item="chart_3"></div>

        </div>
    </div>




</div>