<button type="button" class="btn btn-default open-overlay">{{catalog_button}}</button>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="uneca-home-title">FIND DATA BY</div>

                <div class="row uneca-home-entrypoint">
                    <div class="col-xs-4">
                        <div class="uneca-home-entrypoint-container"><img src="css/icons/domain-ico.svg" width="100%">
                        </div>
                        <div class="uneca-home-title">BY DOMAIN</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-xs-4">
                        <div class="uneca-home-entrypoint-container"><img src="css/icons/country-ico.svg" width="100%">
                        </div>
                        <div class="uneca-home-title">BY COUNTRY</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-xs-4">
                        <div class="uneca-home-entrypoint-container"><img src="css/icons/dataset-ico.svg" width="100%">
                        </div>
                        <div class="uneca-home-title">BY DATASET</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="cols-xs-3"></div>

        </div>
        <div>
            <!-- catalog overlay -->
            <div id="overlay" class="container">

                <button class="close-overlay"></button>

                <div class="overlay-content">
                    <div id="fx-catalog-container"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="container-fluid">

                        <!-- Open catalog btn and modules stack container-->
                        <div class="row fx-catalog-toolbar">

                            <div id='fx-modules-stack-container' class="col-xs-6"></div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div id="fx-analysis-container"></div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
