<div class="container-fluid">

    <div class="row">

        <div class="col-lg-12">

            <div class="row fx-header">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h1>{{title}}</h1>
                        <p>{{subtitle}}Examples of FENIX use in several environments and projects.</p>
                    </div>
                </div>
            </div>

            <!-- Modules -->

            <div class="row modules-list-holder">
                <div class="col-xs-12">
                    <ul id="modules-list" class="list-unstyled"></ul>
                </div>
            </div>
            <!-- Crowd Prices -->
           <!-- <div class="row">
                <div class="col-xs-6">
                    <a href='./environmental.html' target='_self'>
                        <img src="css/img/environmental.png" alt="Environmental Monitoring" class="img-responsive">
                    </a>
                </div>
                <div class="col-xs-6">
                    <h2>Environmental Monitoring</h2>
                    Monitoring of environmental indicators like rainfall, temperature, evapo-traspiration and
                    vegetation to detect critical conditions for the agriculture and provide information on the
                    are affected by severe water shortages that could potentially negatively affect the
                    agricultural production.
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-6">
                    <a href='./trade.html' target='_self'>
                        <img src="css/img/trade.png" alt="Trade Flows" class="img-responsive">
                    </a>
                </div>
                <div class="col-xs-6">
                    <h2>Trade Flows</h2>
                    Analysis of the trade flows at regional and national levels and for comparing the behaviors
                    of regional and international import and export dynamics over time.
                </div>
            </div>
            <br>-->

        </div>
    </div>
</div>
