<li class="row module-group-item">
    <div class="col-xs-6">
        <a target="_self" href={{isI18n link}}>
            <img class="img-responsive" src="{{ img}}" />
        </a>
    </div>
    <div class="col-xs-6">
        <h2>{{i18n title}}</h2>
        <p>{{{i18n body}}}</p>
    </div>
</li>