<h1>{{title}}</h1>
<div id="browse-by-country-back" class= 'collapse'>{{back_country_list}}</div>
<hr>
<div class="row">
    <div class="intro-logo-holder col-xs-12">
        <div id="profile-content"></div>
    </div>
</div>