/* Homepage */



[data-page='home']{

  .container-breadcrumb{
    display: none;
  }

}


/* Fenix - Home Page */

/* HOMEPAGE */
$uneca-home-padding: 15px;

.uneca-home-container{
  .panel-body{
    background-color: $fenix-light-bg;
    padding: 0 15px;
  }

  .uneca-home-title{
    font: $fx-text-smalltitle-bold;
    color: $fx-cool-blue;
    padding: $uneca-home-padding;
  }

  .obj-box {
    padding: 0;
  }

  p{
    padding: 0 $uneca-home-padding;
    font-size: 12px;
  }

  .uneca-home-social{
    padding: 0 $uneca-home-padding;
    font-size: 18px;
  }

  hr{
    border-color: $fenix-light-bg;
    margin-bottom: 0;
  }

  .panel-heading{
    padding: 0 15px;
  }

  .panel-default{
    border-color: transparent;
  }

  .panel-group .panel-heading .panel-title a {
    text-transform: none;
    color: $fx-cool-blue;
    font-size: 14px;

  }

  .fx-panel-plus{
    margin-right: 5px;
  }

  .uneca-home-panel-sub{
    margin: 7px 0;
    border-bottom: 1px solid  #e5e5e5;
    &:last-child{
      border-color: transparent;
    }
  }

  .uneca-home-entrypoint{
    text-align: center;
    padding: 0 25px;
    .col-xs-4 {
      border-right: 1px solid #e5e5e5;
      &:last-child{
        border-color: transparent;
      }
    }
  }

  .uneca-home-entrypoint-container{
    padding: 5px;
  }

}

#container{
  width: 100%;
  height: 400px;
  position: relative;

}

#world-preload{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $fenix-light-hr;
  @include animate(1s);
  opacity: 0;

}

#world-preload.visible{
  opacity: 1;
}






