/* Profile Page */

.profiles, .domain  {



  .jstree-node[aria-disabled="true"]{
    opacity: 0.5;
    cursor: no-drop !important;
  }

}


.domain-filter-container{

  border: 1px solid $fenix-light-hr;
  padding: 15px;



  .filter-title{

    margin-top: 0;

  }

}


.country-name{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 500;
}

.back-profile{
  margin-top: -40px;
}

.dl-horizontal dt{
  width: 90px;
}

.dl-horizontal dd{
  margin-left: 120px;
}


#lateral-menu{
  z-index: 1;
  position: relative;
}

.lat-men{
  position: relative;
  //background-color:$fenix-light-bg;
}

.lateral-menu-container{
  top: 0;left: 15px;
  position: absolute;
  margin-bottom: 15px;
  height: 100%;
  width: calc(100% - 30px);
  background-color: $fenix-light-bg;
}

ul[role="group"]{
  background-color:$fenix-light-bg;

}

.info-title{
  font-size: 12px;
  color: $fenix-text;
}

.country-item{
  a{
    margin-bottom: 5px;
    display: inline-block;
  }
}

.main-information{
  padding: 0;

  li{
    padding-left: 0;
    width: 23%;


    p{
      font-weight: 100;
      padding-left: 5px;
      font-size: 25px;
    }

  }

  .label{
    color: $fx-cool-blue;
    font-size: 100%;
    text-transform: uppercase;


  }
}