<div class="row">

    <div class="row-height">

        <div class="col-md-3 col-md-height lat-men">

            <div id="lateral-menu"></div>

        </div>

        <div class="col-md-9 col-md-height col-top">

            <div data-role='filter-block' class="domain-filter-container">


                <h2 class="filter-title">Filter Selection</h2>

                <div class="row">

                    <div class="col-xs-10 domain-filter-holder">

                        <div id="filter-container">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div data-selector="CountryCode"></div>
                                </div>
                                <div class="col-xs-6">
                                    <div data-selector="Year"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-2">
                        <button id="filter-submit" class="btn btn-primary btn-block pull-right filter-go-btns">Filter
                        </button>
                    </div>
                </div>

            </div>

            <div id="dashboard-content"></div>

        </div>
    </div>

</div>