<div>
    <section data-section="list">
        <div id="list-container"></div>
    </section>

    <section data-section="profile">
        <button type="button" data-role="back" class="btn btn-default">Back</button>
        <div id="profile-container"></div>
    </section>
</div>