<h1>{{title}}</h1>
<hr>
<div class="row">
    <div class="intro-logo-holder col-xs-12">
        <div id="domain-content">

            <div class="row">
                <div class="row-height">

                    <div class="col-md-3 col-md-height lat-men">
                        <div id="domain-lateral-menu"></div>
                        <div class="domain-lateral-menu-container">

                        </div>


                    </div>

                    <div class="col-md-9 col-md-height col-top">
                        <div id="domain-filter-block">

                            <div class="row">
                                <div class="col-xs-10">
                                    <div id="domain-filter-container"></div>
                                </div>

                                <div class="col-xs-2">
                                    <button id="domain-filter-submit" class="btn btn-default pull-right filter-go-btns">Filter</button>
                                </div>
                            </div>


                        </div>

                        <div id="domain-dashboard-content"></div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>