<div>
    <section data-dashboard="gdp_ppp">
        <div role="tabpanel" class="tab-pane fade in active" id="gdp_ppp">
            <div data-item="gdp_ppp"></div>
        </div>
    </section>
    <section data-dashboard="gdp_capita">
        <div role="tabpanel" class="tab-pane fade in active" id="gdp_capita">
            <div data-item="gdp_capita"></div>
        </div>
    </section>
    <section data-dashboard="gdp_growth">
        <div role="tabpanel" class="tab-pane fade in active" id="gdp_growth">
            <div data-item="gdp_growth"></div>
        </div>
    </section>
    <section data-dashboard="inflation">
        <div role="tabpanel" class="tab-pane fade in active" id="inflation">
            <div data-item="inflation"></div>
        </div>
    </section>
    <section data-dashboard="investment">
        <div role="tabpanel" class="tab-pane fade in active" id="investment">
            <div data-item="investment"></div>
        </div>
    </section>
    <section data-dashboard="export_growth">
        <div role="tabpanel" class="tab-pane fade in active" id="export_growth">
            <div data-item="export_growth"></div>
        </div>
    </section>
    <section data-dashboard="fdi">
        <div role="tabpanel" class="tab-pane fade in active" id="fdi">
            <div data-item="fdi"></div>
        </div>
    </section>
    <section data-dashboard="life_expectancy">
        <div role="tabpanel" class="tab-pane fade in active" id="life_expectancy">
            <div data-item="life_expectancy"></div>
        </div>
    </section>
</div>