<div>
    <section data-dashboard="gdp_ppp">
        <div role="tabpanel" class="tab-pane fade in active" id="gdp_ppp">
            <div>{{gdp_ppp_chart_title}}</div>
            <div data-item="chart1"></div>
        </div>
    </section>
    <section data-dashboard="gdp_capita">
        <div role="tabpanel" class="tab-pane fade in active" id="gdp_capita">
            <div>{{gdp_capita_chart_title}}</div>
            <div data-item="chart1"></div>
        </div>
    </section>
    <section data-dashboard="gdp_growth">
        <div role="tabpanel" class="tab-pane fade in active" id="gdp_growth">
            <div>{{gdp_growth_chart_title}}</div>
            <div data-item="chart1"></div>
        </div>
    </section>
</div>