<div>

    <section data-dashboard="resume">
        <div class="row">
            <div class="col-xs-12">
                <h1>Indicator distribution by country</h1>
                <div id="item-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Distribution of the selected indicator by country</h1>
                <div id="item-2"></div>
                <p>Note: Only the top 25 countries are shown in the chart.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by region</h1>
                <div id="item-3"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by region in the selected year</h1>
                <div id="item-7"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by subregion</h1>
                <div id="item-4"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by subregion in the selected year</h1>
                <div id="item-8"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by climatic domain</h1>
                <div id="item-5"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by climatic domain in the selected year</h1>
                <div id="item-9"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by level of income</h1>
                <div id="item-6"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by level of income in the selected year</h1>
                <div id="item-10"></div>
            </div>
        </div>
    </section>

    <section data-dashboard="FLUDE_TOPIC_1">
        <div class="row">
            <div class="col-xs-12">
                <h1>Indicator distribution by country</h1>
                <div id="item-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Distribution of the selected indicator by country</h1>
                <div id="item-2"></div>
                <p>Note: Only the top 25 countries are shown in the chart.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by region</h1>
                <div id="item-3"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by region in the selected year</h1>
                <div id="item-7"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by subregion</h1>
                <div id="item-4"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by subregion in the selected year</h1>
                <div id="item-8"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by climatic domain</h1>
                <div id="item-5"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by climatic domain in the selected year</h1>
                <div id="item-9"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by level of income</h1>
                <div id="item-6"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by level of income in the selected year</h1>
                <div id="item-10"></div>
            </div>
        </div>

    </section>

    <section data-dashboard="FLUDE_TOPIC_2">
        <div class="row">
            <div class="col-xs-12">
                <h1>Indicator distribution by country</h1>
                <div id="item-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Distribution of the selected indicator by country</h1>
                <div id="item-2"></div>
                <p>Note: Only the top 25 countries are shown in the chart.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by region</h1>
                <div id="item-3"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by region in the selected year</h1>
                <div id="item-7"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by subregion</h1>
                <div id="item-4"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by subregion in the selected year</h1>
                <div id="item-8"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by climatic domain</h1>
                <div id="item-5"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by climatic domain in the selected year</h1>
                <div id="item-9"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
                <h1>Aggregation by level of income</h1>
                <div id="item-6"></div>
            </div>
            <div class="col-xs-6">
                <h1>Aggregation by level of income in the selected year</h1>
                <div id="item-10"></div>
            </div>
        </div>

    </section>

</div>