<div>

    <section data-dashboard="resume">

        <div class="row">
            <div class="col-xs-12">

                <div id="country-map-container" style="	height: 400px; width: 100%;"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <h1 class="info-title">MAIN INFORMATION</h1>


                <ul class="main-information list-inline list-unstyled">

                    <li>
                        <h4 class="label">
                            <!--<span class="fx-widget-icons icojam_ancient_building"></span>-->
                            Capital City
                        </h4>

                        <p>{{ capital_city }}</p>
                    </li>

                    <li>
                        <h4 class="label">
                            GAUL code
                        </h4>

                        <p>{{ gaul_code }}</p>
                    </li>

                    <li>
                        <h4 class="label">
                            Area in sq. km
                        </h4>

                        <p>{{ area }}</p>
                    </li>

                    <li>
                        <h4 class="label">
                            Currency
                        </h4>

                        <p>{{ currency }}</p>
                    </li>


                </ul>


            </div>
        </div>

    </section>

    <section data-dashboard="population">

        <div class="row">
            <div class="col-xs-12">
                <h2>Mid-year population</h2>
                <div data-item="population-1"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Average growth rate</h2>
                <div data-item="population-2"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Mid-year population by age group</h2>
                <div data-item="population-3"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Life expectancy</h2>
                <div data-item="population-4"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Population pyramid</h2>
                <div data-item="population-5"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Urbanization rate</h2>
                <div data-item="population-6"></div>

            </div>
        </div>



        <!--



                <div class="row">
                    <div class="col-xs-12">
                        <h1>Population pyramid</h1>

                        <div id="population-6"></div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h1>Urbanization rate</h1>

                        <div id="population-7"></div>
                    </div>
                </div>-->


    </section>

    <section data-dashboard="education">


        <div class="row">
            <div class="col-xs-12">
                <h2>Enrolment primary school</h2>
                <div data-item="edu_1"></div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h2>Enrolment primary, secondary, tertiary school</h2>
                <div data-item="edu_2"></div>

            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">
                <h2>Literacy rate by gender</h2>
                <div data-item="edu_3"></div>

            </div>
        </div>



    </section>

    <section data-dashboard="health">

        <div class="row">
            <div class="col-xs-12">
                <h2>Percentage of children provided the vaccines</h2>
                <div data-item="health-1"></div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h2>Percentage of underweight children (under-five)</h2>
                <div data-item="health-2"></div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h2>Prevalence of undernourishment</h2>
                <div data-item="health-3"></div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h2>Infant mortality rate</h2>
                <div data-item="health-4"></div>

            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">
                <h2>Medical staff and infrastructure</h2>
                <div data-item="health-5"></div>

            </div>
        </div>
    </section>


    <section data-dashboard="labour">


        <div class="row">
            <div class="col-xs-12">
                <h1>Economically active population</h1>

                <div data-item="labour-1"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Economically active population by sector</h1>

                <div data-item="labour-2"></div>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Economically active population by gender</h1>

                <div data-item="labour-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Economicaly active population</h2>
                <div data-item="labour-4"></div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h2>Unemployment rate</h2>
                <div data-item="labour-5"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Unemployment rate by gender</h2>
                <div data-item="labour-6"></div>

            </div>
        </div>


    </section>


    <!-- Economic statistics-->


    <section data-dashboard="gdp_constant">

    </section>


    <section data-dashboard="gdp_current">

    </section>

    <section data-dashboard="monetary_statistics">



        <div class="row">
            <div class="col-xs-12">
                <h1>Domestic credit</h1>

                <div data-item="monetary-1"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Net foreign assets</h1>

                <div data-item="monetary-2"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>International reserves</h1>

                <div data-item="monetary-3"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Money supply (M1)</h1>

                <div data-item="monetary-4"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Quasi-money</h1>

                <div data-item="monetary-5"></div>
            </div>
        </div>

    </section>

    <section data-dashboard="public_finance">

        <div class="row">
            <div class="col-xs-12">
                <h1>Components of total revenues and grants </h1>

                <div data-item= "finance-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Total expenditures and net lending</h1>

                <div data-item="finance-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Total expenditures and net lending (current and capital expenditure)</h1>

                <div data-item="finance-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Current expenditure</h1>

                <div data-item="finance-4"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Fiscal balance</h1>

                <div data-item="finance-5"></div>
            </div>
        </div>

    </section>

    <section data-dashboard="balance_of_payments">

        <div class="row">
            <div class="col-xs-12">
                <h2>Current account balance</h2>
                <div data-item="BOP-1"></div>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h2>Capital and financial account</h2>
                <div data-item="BOP-2"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Trade balance</h2>
                <div data-item="BOP-3"></div>

            </div>
        </div>

    </section>


    <section data-dashboard="energy">

        <div class="row">
            <div class="col-xs-12">
                <h1>Production of electricity</h1>

                <div data-item="energy-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Production of electricity</h1>

                <div data-item="energy-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Production of electricity</h1>

                <div data-item="energy-3"></div>
            </div>
        </div>


    </section>



    <section data-dashboard="poverty">
        <div class="column">
            <div class="col-xs-6">
                <h1>Share of income Held by Poorest 10 %</h1>

                <div data-item="poverty-1"></div>
            </div>
        </div>

        <div class="column">
            <div class="col-xs-6">
                <h1>Share of income Held by Poorest 10 %</h1>

                <div data-item="poverty-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Population below 2$ (PPP) per day </h1>

                <div data-item="poverty-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Human poverty index</h1>

                <div data-item="poverty-4"></div>
            </div>
        </div>


    </section>



    <section data-dashboard="gdp">


        <div class="row">
            <div class="col-xs-12">
                <h1>GDP (Current prices) </h1>

                <div data-item="gdp-1"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>GDP growth (annual %)</h1>

                <div data-item="gdp-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>GDP per capita</h1>

                <div data-item="gdp-3"></div>
            </div>
        </div>

    </section>


    <section data-dashboard="expenditure_gdp">
        <h1>General governement final consumption expenditure</h1>
 <div class="row">
        <div class="column">
            <div class="col-xs-6">
                   <div data-item="expenditure-1"></div>

                <p>Current prices</p>
            </div>
        </div>


        <div class="column">
            <div class="col-xs-6">

                <div data-item="expenditure-5"></div>
                <p>Constant prices</p>
            </div>
        </div>
    </div>


        <h1>Individual consumption expenditure</h1>
        <div class="row">
        <div class="column">
            <div class="col-xs-6">


                <div data-item="expenditure-2"></div>

                <p>Current prices</p>
            </div>
        </div>

            <div class="column">
                <div class="col-xs-6">


                    <div data-item="expenditure-6"></div>
                    <p>Constant prices</p>
                </div>
            </div>
        </div>


        <h1>Gross fixed capital formation</h1>
        <div class="row">


        <div class="column">
            <div class="col-xs-6">


                <div data-item="expenditure-3"></div>

                <p>Current prices</p>
            </div>
        </div>
            <div class="column">
                <div class="col-xs-6">

                    <div data-item="expenditure-7"></div>
                    <p>Constant prices</p>
                </div>
            </div>

        </div>



        <h1>Changes in inventories</h1>
            <div class="row">
        <div class="column">
            <div class="col-xs-6">

                <div data-item="expenditure-4"></div>
                <p>Current prices</p>
            </div>
        </div>
                <div class="column">
                    <div class="col-xs-6">
                        <div data-item="expenditure-8"></div>
                        <p>Constant prices</p>
                    </div>
                </div>
            </div>




    </section>




    <section data-dashboard="imports">

    </section>


    <section data-dashboard="financial_flows">

        <div class="row">
            <div class="col-xs-12">
                <h1>Net total official development assistance</h1>

                <div data-item="financial_flows-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Net foreign direct investment inflows</h1>

                <div data-item="financial_flows-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Distribution of net foreign direct investment inflows by country</h1>

                <div class="obj-box">
                    <div data-item="financial_flows-3"></div>
                    <p>Note: Last year available (2012)</p>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Net foreign direct investment inflows by year</h1>

                <div data-item="financial_flows-4"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Distribution of origin of FDI Inflows by country</h1>

                <div class="obj-box">
                    <div data-item="financial_flows-5"></div>
                    <p>Note: Last year available (2012)</p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Origin of FDI Inflows by year</h1>

                <div data-item="financial_flows-6"></div>
            </div>
        </div>

    </section>

    <section data-dashboard="debt">

        <div class="row">
            <div class="col-xs-12">
                <h1>Total government domestic debt</h1>

                <div data-item="debt-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Total external debt</h1>

                <div data-item="debt-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Total external debt - Public/Private </h1>

                <div data-item="debt-3"></div>
            </div>
        </div>

    </section>

    <!-- Environment and multi-Domain statistics-->
    <section data-dashboard="infrastructure">

        <div class="row">
            <div class="col-xs-12">
                <h1>Roads, total network</h1>

                <div id="infrastructure-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Paved roads, percentage of total network</h1>

                <div id="infrastructure-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Mobile-cellular and fixed-telephone subscriptions</h1>

                <div id="infrastructure-3"></div>
            </div>
        </div>

    </section>

    <section data-dashboard="inflation">

        <div class="row">
            <div class="col-xs-12">
                <h1>Inflation, consumer prices (annual %) </h1>

                <div data-item="inflation-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Inflation, GDP deflator (annual%)</h1>

                <div data-item="inflation-2"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Inflation by kind of commodity</h1>

                <div data-item="inflation-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Inflation by kind of commodity</h1>

                <div data-item="inflation-4"></div>
            </div>
        </div>

    </section>

    <section data-dashboard="tourism">

        <div class="row">
            <div class="col-xs-12">
                <h1>Total contribution to GDP and employment</h1>

                <div id="tourism-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>International tourism, number of arrivals</h1>

                <div id="tourism-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>International tourism, receipts</h1>

                <div id="tourism-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Rooms in hotel and similar establishments </h1>

                <div id="tourism-4"></div>
            </div>
        </div>

    </section>

    <section data-dashboard="agriculture_production">

        <div class="row">
            <div class="col-xs-12">
                <h1>Agriculture production</h1>

                <div id="agriculture_production-1"></div>
            </div>
        </div>


    </section>

    <section data-dashboard="mining_production">

        <div class="row">
            <div class="col-xs-12">
                <h1>Mining production</h1>

                <div id="mining_production-1"></div>
            </div>
        </div>

    </section>

</div>