<div class="row">

    <div class="col-xs-12">
        <a class="btn btn-default" href="profile" role="button">back</a>
        Dashboard Title



    </div>



</div>

<div class="row">

    <div class="col-xs-3">
        tree
        <div id="lateral-menu"></div>
    </div>

    <div id="dashboard-content" class="col-xs-9">
                    content
    </div>


</div>