<div class="row">

    <div class="col-md-3">

        <a class="btn btn-default" href="profile" role="button">back</a>

    </div>

    <div class="col-md-9">

        <h1 class="country-name">{{country}}</h1>

    </div>


</div>

<div class="row">
    <div class="row-height">

    <div class="col-md-3 col-md-height lat-men">
        <div id="lateral-menu"></div>
        <div class="lateral-menu-container">

        </div>



    </div>

    <div class="col-md-9 col-md-height">

        <div id="dashboard-content" ></div>

    </div>
        </div>

</div>