<ul class="list-unstyled">
    {{#each countries}}
        <li class="row module-group-item">
            {{#if index equal 0}}
            <div class="col-xs-4">{{code}}
            {{/if}}

            </div>
            {{@index}}
        </li>
    {{/each}}
</ul>