<!-- Control toolbar -->
<!-- Page Header-->
<div class="container">
    <div class="row fx-header">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Countries

                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <p>Select a country:</p>

            <div class="row">
                 <ul id="countries-list" class="list-group">
                 {{#each countries}}
                     <li class="list-group-item" style="cursor: pointer" data-id="{{code}}" data-label="{{label}}">{{label}}</li>
                 {{/each}}
                 </ul>
             </div>

        </div>
    </div>
</div>


